/* 'Space Mono', monospace; */

body {
  background-color: rgb(245 245 245);
  font-family: 'Space Mono', monospace;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 100;
  color: rgb(97 97 97);
}

.typewriter h1 {
  color: rgb(142, 142, 142);
  font-size: 70px ;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: pre-line;
  margin: 0 auto; Gives that scrolling effect as the typing happens
  letter-spacing: .15em;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

body, html {
  height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: linear-gradient(245 245 245), rgba(0, 0, 0, 0.5)), url("photographer.jpg"); */
  background-color: rgb(245 245 245);
  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  }

.hero {

}

div {
  display: block;
}

.list-inline li {
  display: inline-block;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 50px;
}

.container {
  width: 800px;
  margin: 30px auto;
}

.img-circle {
  border-radius: 50%;

}

.card {
  background-color: rgb(245, 245, 245);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
  border-radius: 8px;
  margin: 20px 0px;
  text-align: center;
  border: 0.5px solid
}

h1, h2, h3 {
  font-size: 20px;
}

p {
  font-size: 12px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.fab {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  color: rgb(78, 78, 78);
}

i {
  display: inline;
}

.btn-ghost {
    color: #4A4A4A;
    border: 1px solid black;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    transition: opacity 0.5s ease;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.fa-github-square:before {
  content: "\f092";
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.btn-ghost:hover {
  transition: 0.3s;
  color: rgb(69, 50, 1);
  background-color: rgb(245 245 245);;
  border: 3px solid orange;
  cursor: pointer;
  text-decoration: none;
}

.card:hover {
  transition: 0.7s;
  transform: scale(1.01);
}
